* {
    font-family: 'Roboto', sans-serif;

}

/* Style pour la barre de navigation */
.navbar {
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

hr {
    background-color: #ffffff81;
    height: 3px;
    border-radius: 5px;
    width: 500px;
    border: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-image: url('https://cdn.discordapp.com/attachments/1160866284288872458/1161273315407691806/dreamstime_xxl_212493611-scaled.jpg?ex=6537b30d&is=65253e0d&hm=f8ffe7464ed73bb1555ea29974004452fe0900a1d1428481f5cedbdb322e44fe&');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.900);
    z-index: -1;
    /* Assurez-vous que le filtre est en avant-plan */
}

.bold {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Style pour le logo */
.logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

/* Style pour le bouton de navigation */
.button {
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;

}

/* Style pour le contenu principal */
.content {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

/* Style pour les cadres gauche et droit */
.left-box {
    flex: 1;
    color: #fff;
    border-radius: 10px;
    margin: 40px;
    font-style: normal;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    color: #EF626C;
    height: auto;
}

.right-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-pink {
    background-color: #EF626C;
}

.bg-pink-t {
    background-color: #ef626b6d;
}

.jouer {
    font-style: normal;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.oooohh {
    margin: 20px;
}

.center, a {
    text-align: center;
}

.padding {
    padding: 20px;
}

.box {
    border-radius: 10px;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-2 {
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
}

/* Style pour la barre avec trois blocs */
.bar-with-blocks {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin: 60px;
}

.block {
    color: #fff;
    border-radius: 10px;
    flex: 1;
}



img {
    width: 180px;
    height: 180px;
}

.txt {
    margin: 60px;
    height: auto;
    color: white;
    text-align: justify;
    font-size: large;
}

br {
    margin-bottom: 20px;
}

/* Style pour le footer */
.footer {
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    margin-top: auto;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 15px;
}


.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.social-link {
    color: #fff;
    text-decoration: none;
    margin: 5px;
}

.icon {
    margin: 10px;
    padding: 10px;
    width: 30px;
    height: auto;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.145);
    filter: brightness(0) invert(1);
    border-radius: 20%;
}

.oooohh:hover {
    background-color: rgba(0, 0, 0, 0.145);
    border: solid 1px white;
}